classy>=3.2.0
smolagents>=1.23.0
smolagents[openai]>=1.19.0
pylint
black
ipython
ipympl
jupyter
jupyter_client>=7.4.2
faiss-cpu
langchain
langchain-huggingface
sentence-transformers
langchain-community
